main {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
}
.calculation {
    border: 1px solid black;
    padding: 20px;
}

.calculation2 {
    border: 1px solid black;
    padding: 20px;

}

.calculation3 {
    border: 1px solid black;
    padding: 20px;
}